.todo-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeae7;
}
.checkbox{
    margin-right: 20px;
    width: 20px;
}

.description {
    font-size: 20px;
    color: #000711;
}
.btn-delete{
    height: 20px;
}


